@import "normalize.css";
@import "outdated-browser/outdatedbrowser/outdatedbrowser.css";

$light-grey: #aab0bd;
$oodle-pink: #ef4471;
$oodle-pink-dark: #d13b64;

$font-family-base: "Merriweather";
$font-size-base: 1rem;
$line-height-base: 1.428571429;

$text-color: $light-grey;
$body-bg: #fff;

@custom-media --xs (max-width: 543px);
@custom-media --sm-down (max-width: 767px);
@custom-media --md-down (max-width: 991px);
@custom-media --lg-down (max-width: 1199px);
@custom-media --xl (min-width: 1200px);

.main-title {
  margin: 0;

  br {
    @media (--md-down) {
      display: none;
    }
  }
}

/*Lost Shit*/

@lost gutter 1.618rem;

*,
*:before,
*:after {
  box-sizing: border-box;
}

/*// Body reset*/

html {
  font-size: 16px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $text-color;
  background-color: $body-bg;
}

/*// Reset fonts for relevant elements*/
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

/*
 *  Grid
 */
/*
 // Grid breakpoints
//
// Define the minimum and maximum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.*/

.row {
  position: relative;
  lost-center: 1140px;
  lost-flex-container: row;
  margin: 50px auto;
  z-index: 3;
  padding: 0 15px;
}

@media (--xl) {
  .row {
    lost-center: 1140px;
  }
}

@media (--lg-down) {
  .row {
    lost-center: 940px;
  }
}

@media (--md-down) {
  .row {
    lost-center: 720px;
  }
}

@media (--sm-down) {
  .row {
    lost-center: 576px;
  }
}


.half {
  lost-column: 1/2 flex;
}

@media (--sm-down) {
  .half {
    lost-column: 1/1;
  }
}

.one-fifth {
  lost-column: 1/5;
}

@media (--sm-down) {
  .one-fifth {
    lost-column: 1/2;

    &:last-child {
      display: none;
    }
  }
}

@media (--xs) {
  .one-fifth {
    lost-column: 1/1;
  }
}

/*
 *  Custom Code
 */

body {
  border-top: 15px solid $oodle-pink;
}

.oodle-dots-overlay {
  position: absolute;
    top: 15px;
    right: 0;
  width: 50%;
  z-index: 2;

  img {
    width: 100%;
    height: auto;
  }
}

.logo-lockup {
  width: 100%;
  margin-top: 120px;
  text-align: center;

  img {
    max-width: 100%;
  }

  @media (--sm-down) {
    margin-top: 50px;
  }
}

@media (--sm-down) {
  .vertically-center .text-right {
    text-align: center;
  }
}

.descriptor-text {
  text-align: justify;
}

hr {
  width: 100%;
  border: none;
  border-top: 1px solid $light-grey;
  margin-top: 30px;
}

.client-logos-title {
  margin-bottom: 0;

  h2 {
    margin: 0 auto;
    text-transform: uppercase;
    font-size: .9rem;
  }
}

.client-logos {
  position: relative;
  z-index: 1;
  margin-top: 0;
  text-align: center;

  img {
    max-width: 100%;
    height: auto;
  }
}

.copyright {
  text-align: center;
  font-size: .7rem;
  margin-top: 0;
}

/*
 *  Buttons
 */

/* Ripple Out */
@-webkit-keyframes hvr-ripple-out {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;
  }
}

@keyframes hvr-ripple-out {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;
  }
}

.hvr-ripple-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}
.hvr-ripple-out:before {
  content: '';
  position: absolute;
  border: $oodle-pink solid 6px;
  border-radius: 5px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}
.hvr-ripple-out:hover:before, .hvr-ripple-out:focus:before, .hvr-ripple-out:active:before {
  -webkit-animation-name: hvr-ripple-out;
  animation-name: hvr-ripple-out;
  border-color: $oodle-pink-dark;
}

.btn {
  @extend .hvr-ripple-out;

  display: inline-block;
  border-radius: 5px;
  color: white;
  background-color: $oodle-pink;
  padding: 25px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Dosis";
  font-size: 1.1rem;

  &:hover {
    background-color: $oodle-pink-dark;
  }
}

@media (--sm-down) {
  .btn {
    display: block;
    text-align: center;
    margin-top: 30px;
  }
}




/*
 *  Headers
 */

 h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Dosis";
  font-weight: 300;
}



/**
 *  Helpers
 */

 .text-pink {
   color: $oodle-pink;
 }

 .text-right {
   text-align: right;
 }

 .text-left {
   text-align: left;
 }

 .text-center {
   text-align: center;
 }

 .vertically-center {
   align-items: center;
 }
