@font-face {
  font-family: Dosis;
  font-style: normal;
  font-weight: 200;
  src: local("Dosis ExtraLight"),local(Dosis-ExtraLight),url(//fonts.gstatic.com/s/dosis/v4/ObbIOKT7x5q3tD-LZ0O70fesZW2xOQ-xsNqO47m55DA.eot?#) format("eot"),url(//fonts.gstatic.com/s/dosis/v4/RPKDmaFi75RJkvjWaDDb0vesZW2xOQ-xsNqO47m55DA.woff2) format("woff2"),url(//fonts.gstatic.com/s/dosis/v4/zuuDDmIlQfJeEM3Uf6kkpvesZW2xOQ-xsNqO47m55DA.woff) format("woff");
}

@font-face {
  font-family: Dosis;
  font-style: normal;
  font-weight: 300;
  src: local("Dosis Light"),local(Dosis-Light),url(//fonts.gstatic.com/s/dosis/v4/piAeziXdjUmpEWux15l7q_esZW2xOQ-xsNqO47m55DA.eot?#) format("eot"),url(//fonts.gstatic.com/s/dosis/v4/7aJzV14HzAOiwNTiPgucGfesZW2xOQ-xsNqO47m55DA.woff2) format("woff2"),url(//fonts.gstatic.com/s/dosis/v4/GpmMKE0dnXylect5ObzLR_esZW2xOQ-xsNqO47m55DA.woff) format("woff");
}

@font-face {
  font-family: Dosis;
  font-style: normal;
  font-weight: 400;
  src: local("Dosis Regular"),local(Dosis-Regular),url(//fonts.gstatic.com/s/dosis/v4/RHp5spKuj-AQOgQKPITXrQ.eot?#) format("eot"),url(//fonts.gstatic.com/s/dosis/v4/4hYyXH_8WmbBLamf6WjLwg.woff2) format("woff2"),url(//fonts.gstatic.com/s/dosis/v4/xIAtSaglM8LZOYdGmG1JqQ.woff) format("woff");
}

@font-face {
  font-family: Dosis;
  font-style: normal;
  font-weight: 500;
  src: local("Dosis Medium"),local(Dosis-Medium),url(//fonts.gstatic.com/s/dosis/v4/ELvCmRUbtOdCk3jbD-FqUPesZW2xOQ-xsNqO47m55DA.eot?#) format("eot"),url(//fonts.gstatic.com/s/dosis/v4/mAcLJWdPWDNiDJwJvcWKc_esZW2xOQ-xsNqO47m55DA.woff2) format("woff2"),url(//fonts.gstatic.com/s/dosis/v4/A4RWZsncmJ25G8iqn2EHN_esZW2xOQ-xsNqO47m55DA.woff) format("woff");
}

@font-face {
  font-family: Dosis;
  font-style: normal;
  font-weight: 600;
  src: local("Dosis SemiBold"),local(Dosis-SemiBold),url(//fonts.gstatic.com/s/dosis/v4/cP5EXqzXauRrjnP79eZ-MPesZW2xOQ-xsNqO47m55DA.eot?#) format("eot"),url(//fonts.gstatic.com/s/dosis/v4/O6SOu9hYsPHTU43R17NS5fesZW2xOQ-xsNqO47m55DA.woff2) format("woff2"),url(//fonts.gstatic.com/s/dosis/v4/f8qltGyj2S-SS_tsOHsjgfesZW2xOQ-xsNqO47m55DA.woff) format("woff");
}

@font-face {
  font-family: Dosis;
  font-style: normal;
  font-weight: 700;
  src: local("Dosis Bold"),local(Dosis-Bold),url(//fonts.gstatic.com/s/dosis/v4/tyj4dcX-j2M0ERUlmIDlrvesZW2xOQ-xsNqO47m55DA.eot?#) format("eot"),url(//fonts.gstatic.com/s/dosis/v4/22aDRG5X9l7obljtz7tihvesZW2xOQ-xsNqO47m55DA.woff2) format("woff2"),url(//fonts.gstatic.com/s/dosis/v4/x-7NZTw0n-ypOAaIE8uSrvesZW2xOQ-xsNqO47m55DA.woff) format("woff");
}

@font-face {
  font-family: Dosis;
  font-style: normal;
  font-weight: 800;
  src: local("Dosis ExtraBold"),local(Dosis-ExtraBold),url(//fonts.gstatic.com/s/dosis/v4/mPoGKQuC65tedUakfBsfBfesZW2xOQ-xsNqO47m55DA.eot?#) format("eot"),url(//fonts.gstatic.com/s/dosis/v4/nq3OPeKr7RUSF_YDJ1woxvesZW2xOQ-xsNqO47m55DA.woff2) format("woff2"),url(//fonts.gstatic.com/s/dosis/v4/k9xA3bmr7wstksq4xsFJafesZW2xOQ-xsNqO47m55DA.woff) format("woff");
}

@font-face {
  font-family: monospace;
  font-style: italic;
  font-weight: 400;
  src: local("Menlo Italic"),local(Menlo-Italic),local("Consolas Italic"),local(Consolas-Italic),local("Courier New Italic");
}

@font-face {
  font-family: monospace;
  font-style: italic;
  font-weight: 700;
  src: local("Menlo Bold Italic"),local(Menlo-BoldItalic),local(Monaco),local("Consolas Bold Italic"),local(Consolas-BoldItalic),local("Courier New Bold Italic");
}

@font-face {
  font-family: monospace;
  font-style: normal;
  font-weight: 400;
  src: local("Menlo Regular"),local(Menlo-Regular),local(Monaco),local(Consolas),local("Courier New");
}

@font-face {
  font-family: monospace;
  font-style: normal;
  font-weight: 700;
  src: local("Menlo Bold"),local(Menlo-Bold),local(Monaco),local("Consolas Bold"),local(Consolas-Bold),local("Courier New Bold");
}

@font-face {
  font-family: sans-serif;
  font-style: italic;
  font-weight: 300;
  src: local("Helvetica Neue Light Italic"),local(HelveticaNeue-LightItalic),local("Helvetica Light Oblique"),local(Helvetica-LightOblique);
}

@font-face {
  font-family: sans-serif;
  font-style: italic;
  font-weight: 400;
  src: local("Helvetica Neue Italic"),local(HelveticaNeue-Italic),local("Helvetica Oblique"),local(Helvetica-Oblique);
}

@font-face {
  font-family: sans-serif;
  font-style: italic;
  font-weight: 700;
  src: local("Helvetica Neue Bold Italic"),local(HelveticaNeue-BoldItalic),local("Helvetica Bold Oblique"),local(Helvetica-BoldOblique);
}

@font-face {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 300;
  src: local("Helvetica Neue Light"),local(HelveticaNeue-Light),local("Helvetica Light"),local(Helvetica-Light);
}

@font-face {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  src: local(HelveticaNeue),local(Helvetica);
}

@font-face {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 700;
  src: local("Helvetica Neue Bold"),local(HelveticaNeue-Bold),local("Helvetica Bold"),local(Helvetica-Bold);
}

.site-header, .home, .site-footer {
  display: none;
}

/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */

html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */

body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio, canvas, progress, video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */

[hidden], template {
  display: none;
}

/* Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */

a:active, a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b, strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */

pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button, input, optgroup, select, textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button, select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled], html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */

input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  box-sizing: content-box; /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}
/*!--------------------------------------------------------------------
STYLES "Outdated Browser"
Version:    1.1.0 - 2014
author:     Burocratik
website:    http://www.burocratik.com
* @preserve
-----------------------------------------------------------------------*/
#outdated{
    display: none; position: fixed; top: 0; left: 0; width: 100%; height: 170px;
    text-align: center; text-transform: uppercase; z-index:1500;
    background-color: #f25648; color: #ffffff;
}
* html #outdated{position: absolute;}
#outdated h6{font-size: 25px; line-height: 25px; margin: 30px 0 10px;}
#outdated p{font-size: 12px; line-height: 12px; margin: 0;}
#outdated #btnUpdateBrowser{
    display: block; position: relative; padding: 10px 20px; margin: 30px auto 0; width: 230px; /*need for IE*/
    color: #ffffff; text-decoration: none; border: 2px solid #ffffff; cursor: pointer;
}
#outdated #btnUpdateBrowser:hover{color: #f25648; background-color:#ffffff;}
#outdated .last{position: absolute; top: 10px; right: 25px; width: 20px; height: 20px;}
#outdated .last[dir='rtl']{right: auto !important; left: 25px !important;}
#outdated #btnCloseUpdateBrowser{
    display: block; position: relative; width: 100%; height: 100%;
    text-decoration: none; color: #ffffff; font-size: 36px; line-height: 36px;
}

.main-title {
  margin: 0;
}

/*Lost Shit*/

*, *:before, *:after {
  box-sizing: border-box;
}

/*// Body reset*/

html {
  font-size: 16px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  font-family: "Merriweather";
  font-size: 1rem;
  line-height: 1.428571429;
  color: #aab0bd;
  background-color: #fff;
}

/*// Reset fonts for relevant elements*/
input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

/*
 *  Grid
 */
/*
 // Grid breakpoints
//
// Define the minimum and maximum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.*/

.row {
  position: relative;
  *zoom: 1;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin: 50px auto;
  z-index: 3;
  padding: 0 15px;
}

.row:before {
  content: '';
  display: table;
}

.row:after {
  content: '';
  display: table;
  clear: both;
}

@media (min-width: 1200px) {
  .row {
    *zoom: 1;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
  }
  .row:before {
    content: '';
    display: table;
  }
  .row:after {
    content: '';
    display: table;
    clear: both;
  }
}

@media (max-width: 1199px) {
  .row {
    *zoom: 1;
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
  }
  .row:before {
    content: '';
    display: table;
  }
  .row:after {
    content: '';
    display: table;
    clear: both;
  }
}

@media (max-width: 991px) {
  .row {
    *zoom: 1;
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
  }
  .row:before {
    content: '';
    display: table;
  }
  .row:after {
    content: '';
    display: table;
    clear: both;
  }
}

@media (max-width: 767px) {
  .row {
    *zoom: 1;
    max-width: 576px;
    margin-left: auto;
    margin-right: auto;
  }
  .row:before {
    content: '';
    display: table;
  }
  .row:after {
    content: '';
    display: table;
    clear: both;
  }
}


.half {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: calc(99.99% * 1/2 - (1.618rem - 1.618rem * 1/2));
}


.half:nth-child(n) {
  margin-right: 1.618rem;
}


.half:last-child {
  margin-right: 0;
}


.half:nth-child(2n) {
  margin-right: 0;
}

@media (max-width: 767px) {
  .half {
    width: calc(99.99% * 1/1 - (1.618rem - 1.618rem * 1/1));
  }
  .half:nth-child(n) {
    float: left;
    margin-right: 1.618rem;
    clear: none;
  }
  .half:last-child {
    margin-right: 0;
  }
  .half:nth-child(1n) {
    margin-right: 0;
  }
  .half:nth-child(1n + 1) {
    clear: left;
  }
}

.one-fifth {
  width: calc(99.99% * 1/5 - (1.618rem - 1.618rem * 1/5));
}

.one-fifth:nth-child(n) {
  float: left;
  margin-right: 1.618rem;
  clear: none;
}

.one-fifth:last-child {
  margin-right: 0;
}

.one-fifth:nth-child(5n) {
  margin-right: 0;
}

.one-fifth:nth-child(5n + 1) {
  clear: left;
}

@media (max-width: 767px) {
  .one-fifth {
    width: calc(99.99% * 1/2 - (1.618rem - 1.618rem * 1/2));
  }
  .one-fifth:last-child {
    display: none;
  }
  .one-fifth:nth-child(n) {
    float: left;
    margin-right: 1.618rem;
    clear: none;
  }
  .one-fifth:nth-child(n):last-child {}
  .one-fifth:last-child {
    margin-right: 0;
  }
  .one-fifth:last-child:last-child {}
  .one-fifth:nth-child(2n) {
    margin-right: 0;
  }
  .one-fifth:nth-child(2n):last-child {}
  .one-fifth:nth-child(2n + 1) {
    clear: left;
  }
  .one-fifth:nth-child(2n + 1):last-child {}
}

@media (max-width: 543px) {
  .one-fifth {
    width: calc(99.99% * 1/1 - (1.618rem - 1.618rem * 1/1));
  }
  .one-fifth:nth-child(n) {
    float: left;
    margin-right: 1.618rem;
    clear: none;
  }
  .one-fifth:last-child {
    margin-right: 0;
  }
  .one-fifth:nth-child(1n) {
    margin-right: 0;
  }
  .one-fifth:nth-child(1n + 1) {
    clear: left;
  }
}

/*
 *  Custom Code
 */

body {
  border-top: 15px solid #ef4471;
}

.oodle-dots-overlay {
  position: absolute;
    top: 15px;
    right: 0;
  width: 50%;
  z-index: 2;
}

.oodle-dots-overlay img {
  width: 100%;
  height: auto;
}

.logo-lockup {
  width: 100%;
  margin-top: 120px;
  text-align: center;
}

.logo-lockup img {
  max-width: 100%;
}

@media (max-width: 767px) {

  .logo-lockup {
    margin-top: 50px;
  }
  }

@media (max-width: 767px) {
  .vertically-center .text-right {
    text-align: center;
  }
}

.descriptor-text {
  text-align: justify;
}

hr {
  width: 100%;
  border: none;
  border-top: 1px solid #aab0bd;
  margin-top: 30px;
}

.client-logos-title {
  margin-bottom: 0;
}

.client-logos-title h2 {
  margin: 0 auto;
  text-transform: uppercase;
  font-size: .9rem;
}

.client-logos {
  position: relative;
  z-index: 1;
  margin-top: 0;
}

.client-logos img {
  width: 100%;
  height: auto;
}

.copyright {
  text-align: center;
  font-size: .7rem;
  margin-top: 0;
}

/*
 *  Buttons
 */

/* Ripple Out */
@-webkit-keyframes hvr-ripple-out {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;
  }
}

@keyframes hvr-ripple-out {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;
  }
}

.hvr-ripple-out, .btn {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}
.hvr-ripple-out:before, .btn:before {
  content: '';
  position: absolute;
  border: #ef4471 solid 6px;
  border-radius: 5px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}
.hvr-ripple-out:hover:before, .hvr-ripple-out:focus:before, .hvr-ripple-out:active:before, .btn:hover:before, .btn:focus:before, .btn:active:before {
  -webkit-animation-name: hvr-ripple-out;
  animation-name: hvr-ripple-out;
  border-color: #d13b64;
}

.btn {

  display: inline-block;
  border-radius: 5px;
  color: white;
  background-color: #ef4471;
  padding: 25px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Dosis";
  font-size: 1.1rem;
}

.btn:hover {
  background-color: #d13b64;
}

@media (max-width: 767px) {
  .btn {
    display: block;
    text-align: center;
    margin-top: 30px;
  }
}




/*
 *  Headers
 */

 h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Dosis";
  font-weight: 300;
}



/**
 *  Helpers
 */

 .text-pink {
   color: #ef4471;
 }

 .text-right {
   text-align: right;
 }

 .text-left {
   text-align: left;
 }

 .text-center {
   text-align: center;
 }

 .vertically-center {
   -webkit-box-align: center;
   -webkit-align-items: center;
       -ms-flex-align: center;
           align-items: center;
 }
